body {
    background-color:beige;
    font-family: Verdana, Sans-Serif;
}

h1,h2,h3,h4,h5,h6 {
    font-weight:bold;
    color: saddlebrown;
    font-family: Verdana;
}

p{
    text-align: justify;
    font-family: Verdana;
    margin-top:-22px;;
    margin:50;
}


header {
  overflow: hidden;
}

/* Add a black background color to the top navigation */
.nav {
  background-color: #726E6E;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.nav a {
  float: left;
  color: #f2f2f2;
  padding: 8px;
  font-size: 20px;
  text-decoration-line: none;
}

/* Change the color of links on hover */
.nav a:hover {
  background-color: #DA9999;
  color: white;
}

/* Add a color to the active/current link */
.nav a.active {
  background-color: #C35C5C;
  color: white;
    font-weight: bold;
}